/* Variables */

:root {
  --background: #e1eef6;
  --base: #004e66;
  --accent: #ff5f2e;
  --yellow: #fcbe32;
}

/* Resets */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

a {
  text-decoration: none;
}

a.button {
  text-decoration: none;
  color: white;
  background: var(--base);
  border: 1px solid white;
  border-radius: 5%;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

a.button:hover,
a.button:active {
  color: var(--base);
  background: white;
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6, a, p, span {
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* Resets */

body {
  background: var(--background);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  flex-shrink: 0;
  background: var(--base);
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 5em;
}

nav a {
  color: white;
}

nav .logo a {
  font-weight: bold;
  border: none;
}

a.button {
  height: 2.5em;
  padding: 0.2em 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#welcome {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-menu {
  height: 100%;
  display: flex;
  align-items: center;
}

a.profile {
  margin-right: 1em;
}

.profile-page {
  height: 100%;
  width: 100%;
  margin-top: 16px;
  text-align: center;
}

.profile-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form > div {
  margin-top: 1em;
}

.left-menu {
  height: 100%;
  display: flex;
  align-items: center;
}

.left-menu > *:not(:first-child) {
  margin-left: 1em;
}

.nav-filter {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.nav-filter label {
  margin-left: 0.5em;
  color: white;
}

.nav-filter:hover label,
.nav-filter.checked label {
  color: var(--base);
}

.nav-filter:hover,
.nav-filter.checked {
  background-color: var(--yellow);
  color: black;
}

.search-box {
  padding: 0.2em;
  outline: 0;
  border: 0;
  min-width: 15em;
}

.search-form {
  position: relative;
}

.search-form button {
  position: absolute;
  right: 0;
  background: transparent;
  border: 0;
  height: 100%;
  background-color: var(--yellow);
  color: var(--base);
  display: inline-flex;
  flex-shrink: 1;
}

.search-form button:hover {
  background-color: var(--accent);
  color: white;
  cursor: pointer;
}

.profile-form button {
  margin-top: 1em;
  background: transparent;
  border: 0;
  background-color: var(--yellow);
  color: var(--base);
  display: inline-flex;
}

.profile-form button:hover {
  background-color: var(--accent);
  color: white;
  cursor: pointer;
}

.search-form .search-list {
  position: absolute;
  left: 0;
  padding: 0;
  z-index: 200;
}

.book-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 15em;
  margin: 0.3em 0.3em;
  border: 2px solid var(--yellow);
  background-color: white;
  padding: 0.2em;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.15s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.book-card.my_book {
  border: 2px solid var(--base);
}
.book-card.my_book:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.1);
  border: 2px solid var(--base);
}

.book-card.suggestion .subtitle {
  display: none;
}

.book-card.book-card.suggestion {
  max-height: 10em;
  overflow: hidden;
}

.book-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.1);
  border: 2px solid var(--accent);
}

.book-card img {
  max-height: 60px;
}

.book-card .book-details {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-details .subtitle,
.book-details .authors,
.book-details .book-status {
  margin-top: 0.5em;
}

.book-card:hover .book-status {
  font-weight: bold;
}

.requested {
  color: var(--accent);
}

.owned {
  color: var(--base);
}

.new {
  color: var(--accent);
}

.content {
  flex: 1;
  position: relative;
}

.user {
  display: flex;
}

.dim {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.green {
  background-color: greenyellow;
}

.book-catalog {
  display: flex;
  flex-wrap: wrap;
  padding: 0em 5em;
}

.all-requests {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
}
.requests-by-me,
.requests-for-me {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.requests-by-me h2,
.requests-for-me h2 {
  padding: 1em 2em;
  background-color: var(--base);
  color: white;
}

.requests-by-me ul li,
.requests-for-me ul li {
  margin-bottom: 2em;
}

.requestor-names {
  display: flex;
  flex-direction: row;
  margin-top: 0.2em;
}

.requestor-names li:not(:last-child) {
  padding-right: 1em;
}

.requestor-names-items {
  display: flex;
  flex-direction: column;
}
